
<figure class="text-center">
    <blockquote class="blockquote">
        <p>
            Это первая моя презитация курса повышения квалификации (Продвинутый курс по C#), <br />
            который я изучал и подчеркунул для себя очень важные моменты обучения. <br />
            Да, проект выполнен в простом стиле и не полный по  условию. Несколько тестов было проведено, <br />
            но они обработались с ошибкой. Если можно, напишите по какой причине.  В общем, большое спасибо.
        </p>
    </blockquote>
</figure>