<ul>
    <li class="current_page_item"><a asp-controller="Home" asp-action="Index" accesskey="1" title="">Главная</a></li>
    <li><a asp-controller="Employee" asp-action="Index" accesskey="2" title="">Сотрудники</a></li>
    @*<li><a href="#" accesskey="3" title="">Роли</a></li>
    <li><a href="#" accesskey="4" title="">Careers</a></li>
    <li><a href="#" accesskey="5" title="">Contact Us</a></li>*@
</ul>