<meta charset=utf-8" />
@if (ViewBag.Title != null)
{
    <title>@ViewBag.Title</title>
}
else
{
    
    <title>Презинтация</title>

}

@if (ViewBag.Keywords != null)
{
    <meta name="keywords" content="@ViewBag.Keywords" />
}
@if (ViewBag.Description != null)
{
    <meta name="description" content="@ViewBag.Description" />
}
